
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

.venv/
venv/
env/
.env


output/


*.log


.vscode/

.idea/

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble

*~


.pytest_cache/
.coverage
htmlcov/
